        @font-face {
            font-family: 'Neue Haas Grotesk Display Pro';
            src: url('font/NeueHaasDisplay-Roman.woff2') format('woff2'),
                url('font/NeueHaasDisplay-Roman.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'GE SSL Two';
            src: url('font/GESSTwoLight-Light.woff2') format('woff2'),
                url('font/GESSTwoLight-Light.woff') format('woff');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'GE SSB Two';
            src: url('font/GESSTwoBold-Bold.woff2') format('woff2'),
                url('font/GESSTwoBold-Bold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'GE SSM Two';
            src: url('font/GESSTwoMedium-Medium.woff2') format('woff2'),
                url('font/GESSTwoMedium-Medium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: black;
            position: relative;
            overflow: hidden;

        }

        a {
            text-decoration: none;
            color: white;
            font-size: 1.3rem;
        }

        .header1 {
            display: flex;
            /* justify-content: center; */
            align-items: center;

        }

        .logo-img {
            width: 200px;
        }

        .responsive-text {
            font-size: clamp(1rem, 2vw + 0.5rem, 2.5rem);
        }

        .ENGfont {
            font-family: 'Neue Haas Grotesk Display Pro';
            text-decoration: none;
            color: white;
            font-size: 1.3rem;
        }

        .ARfont {
            font-family: 'GE SSL Two';
            text-decoration: none;
            color: white;
            font-size: 1.3rem;
        }

         .nav-glow a {
            position: relative;
            color: #fff;
            text-decoration: none;
            transition: all 0.2s ease;
        }

        .nav-glow a:hover {
            color: rgb(230, 245, 255);
            text-shadow:
                0 0 6px rgba(230, 245, 255, 0.9),
                0 0 12px rgba(200, 230, 255, 0.8),
                0 0 24px rgba(160, 210, 255, 0.6),
                0 0 48px rgba(120, 190, 255, 0.4);
        }

        .header-margin {
            padding-left: 20px;
            padding-right: 20px;
        }

        /* ////////////////////// */

        .slogin {
            height: 50vh;
            width: 100%;
            margin-top: 17%;
        }

        .slogin-text {
            font-size: 4.5rem;
            color: white;
            font-family: 'GE SSM Two';
        }

       

         .glow {
            position: absolute;
            width: 900px;
            height: 700px;
            border-radius: 50%;
            left: 22%;
            bottom: -480px;

            background: radial-gradient(circle at center,
                    rgb(180, 225, 255) 0%,
                    rgb(144, 202, 249) 10%,
                    rgba(100, 181, 246, 0.6) 35%,
                    rgba(33, 150, 243, 0.2) 60%,
                    rgba(33, 150, 243, 0.05) 85%,
                    transparent 100%);

            filter: blur(220px);
            opacity: 1;
        }


        .glow::after {
            content: "";
            position: absolute;
            top: -80px;
            left: -80px;
            right: -80px;
            bottom: -80px;
            border-radius: 50%;
            background: radial-gradient(circle, rgba(173, 216, 230, 0.4), transparent 80%);
            filter: blur(500px);
            z-index: -1;
        }




        #particles-js {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #101010;

        }




